<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input placeholder="{{ 'LOGIN.LOGINGAME.EMAIL' | translate }}" formControlName="email"/>
  <input placeholder="{{ 'LOGIN.LOGINGAME.PASSWORD' | translate }}" formControlName="password"/>
  <button>{{ 'LOGIN.LOGINGAME.AUTHBTN' | translate }}</button>
</form>
<button (click)="onGuest()">{{ 'LOGIN.LOGINGAME.GUEST' | translate }}</button>


<!-- <div>
  <button>Auth to the game</button>
  <button>Auth to the bank</button>
</div> -->
