.head {
  width: 90%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.number{
  margin-right: 10%;
  color: white;
}

.dart-number-wrapper {
  display: flex;
  flex-direction: column;
  width: 15%;
  justify-content: space-around;
  padding-top: 18px;
  font-size: 20px;
}

.dart-form {
  display: flex;
  width: 100%;
}

.winner {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.new-game-btn {
  height: 40px;
  width: 200px;
  background-color: yellow;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-out transform;
}

.new-game-btn:hover {
  transform: scale(1.05);
}

.input-controls {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.inputs-wrapper {
  display: flex;
  width: 100%;
}

.move-inputs-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.add-btn {
  height: 40px;
  width: 350px;
  background-color: yellow;
  margin: 40px 0 20px 0;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-out transform;
}

.add-btn {
  transform: scale(1.05);
}

.add-btn:disabled {
  background-color: grey;
  color: white;
}

.divider {
  margin: 40px 0;
}

@media screen and (max-width: 499px) {
  .head {
    flex-direction: column;
  }

  .head app-logo {
    margin-bottom: 20px;
  }

  .input-controls {
    width: 95%;
  }

  .move-inputs-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .dart-number-wrapper {
    display: none;
  }

  app-move-input {
    margin-bottom: 10px;
  }

  .score-list-wrapper {
    margin-bottom: 40px;
  }
}
