<div class="game">
  <div class="head">
    <app-logo></app-logo>
    <button (click)="newGame()" class="new-game-btn">{{ 'GAME501.NEWGAME' | translate }}</button>
  </div>
  <hr class="divider"/>
  <p class="winner" *ngIf="winner && !isGame"> {{ 'GAME501.WINNER' | translate }}: {{ winner.name }} </p>
  <div class="input-controls">
    <div class="inputs-wrapper">
      <div class="dart-form">
        <div class="dart-number-wrapper">
          <a class="number">{{ 'GAME501.DART1' | translate }}</a>
          <a class="number">{{ 'GAME501.DART2' | translate }}</a>
          <a class="number">{{ 'GAME501.DART3' | translate }}</a>
        </div>
        <div class="move-inputs-wrapper">
          <app-move-input (changeForm)="onFormChange($event)" *ngFor="let player of players" [player]="player"></app-move-input>
        </div>
      </div>
    </div>
    <button [disabled]="(winner && !isGame) || !checkValidity()" class="add-btn" (click)="makeMove()">{{ 'GAME501.ADD' | translate }}</button>
    <!-- component to input data with *ngFor-->
  </div>
  <hr class="divider"/>
  <div class="score-list-wrapper">
    <app-score-list [players]="players" [scoreList]="scoreList"></app-score-list>
    <!-- list to output move scores -->
  </div>
</div>
