<div *ngIf="tableData">
  <div [formGroup]="form">
    <input formControlName="allInOne"/>
    <select formControlName="statusId">
      <option value="">{{ 'BANKINFO.FILTERLIST.ALL' | translate }}</option>
      <option value="IB-DOCUMENT-EXECUTED">{{ 'BANKINFO.FILTERLIST.EXECUTED' | translate }}</option>
    </select>
  </div>
  <app-dynamic-table
    [data]="tableData"
    (sort)="onSort($event)"
  ></app-dynamic-table>
  <app-pagination
    [itemsPerPage]="itemsPerPage"
    [curPage]="currentPage"
    [totalItems]="tableData.length"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
