<!-- <div [formGroup]="form">
  <input [formControlName]="name"/>
</div> -->

<!-- <div [formGroup]="form" (click)="stopPropogation()">
  <select [formControlName]="name">
    <option [selected]="true" value="">All</option>
    <option value="Anton">Anton</option>
  </select>
</div> -->

<select [formControl]="control" (click)="stopPropogation()">
  <option [selected]="true" value="">All</option>
  <option value="Anton">Anton</option>
</select>
