<div class="app-logo">
  <p class="upper-text"> {{ appName | slice:0:11 | uppercase }} </p>
  <p class="center-text"> {{ appName | slice:11 | uppercase }} </p>
  <p class="lower-text"> @{{ company }} </p>
</div>
