.app-logo{
  color: white;
  font-family: "Arial";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: auto;
}

.upper-text {
  font-size: 35px;
  font-weight: 100;
}
.center-text {
  font-size: 3.9em;
  font-weight: bold;
}
.lower-text {
  font-size: 0.8em;
  font-weight: 100;
  text-align: right;
  width: 96%;
}

.upper-text, .center-text, .lower-text {
  margin: 0;
}

@media screen and (max-width: 1199px) {
  .upper-text {
    font-size: 24px;
  }

  .center-text {
    font-size: 2.7em;
  }
}
