<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input placeholder="{{ 'LOGIN.LOGINBANK.LOGIN' | translate }}" formControlName="login"/>
  <input placeholder="{{ 'LOGIN.LOGINBANK.PASSWORD' | translate }}" formControlName="password"/>
  <button> {{ 'LOGIN.LOGINBANK.AUTHBTN' | translate }}</button>
</form>
