<div *ngIf="data">
  <p class="table-header"> {{ header || "Table header" }} </p>
  <table>
    <thead>
      <tr [formGroup]="form" class="header">
        <th *ngFor="let key of headerElements" (click)="onSort(key)">
           {{ key | ucFirst }}
           <ng-container *appTableFilter="form; name: key; config: headerConfig;"></ng-container>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of data">
        <!-- <td *ngFor="let key of config"> {{ items[key] }}</td> -->
        <td *ngFor="let key of headerElements">
          <ng-container *appTableElement="items[key];"></ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
