.table-header {
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 20px 0;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

th:hover {
  background-color: rgb(127, 255, 133);
  cursor: pointer;
}

th, td {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 100%;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

tr {
  display: flex;
  background-color: #ffffe6;
}

th {
  background-color: #4CAF50;
  color: white;
}

.header {
  background-color: #4CAF50;
}
