<div *ngIf="data">
  <app-dynamic-table
    [data]="filteredData ? filteredData.slice(paginationStart, paginationEnd) : data.slice(paginationStart, paginationEnd)"
    [headerElements]="headerElements"
    [headerConfig]="headerConfig"
    (sort)="onSortData($event)"
    (filter)="onFilter($event)"
  >
  </app-dynamic-table>
  <app-pagination
    (pageChange)="onPageChange($event)"
    [curPage]="1"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="filteredData ? filteredData.length : data.length"
  ></app-pagination>
</div>
