.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination-element {
  width: 40px;
  height: 40px;
  background-color: #EDEDED;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 15px;
  color: black;
  transition: 0.3s ease-out all;
}

.pagination-element:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.pagination-element:focus {
  outline: none;
}

.active {
  background-color: #CAC4C4;
}
