.move{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.player{
  box-sizing: border-box;
  text-align: left;
  width: 100%;
  color: white;
}

.dart {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.radio-group {
  display: flex;
  border: solid 3px #4d5061;
  margin: 0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

input[type=text] {
  display: block;
  margin: 0;
  padding: 0.2rem;
  color: inherit;
  width: 60px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: inherit;
  line-height: 1.65rem;
  border: none;
  transition: box-shadow 300ms;
}

input[type=radio] {
  display: none;
}

label {
  color: lighten(#332f35,40%);
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  background: white;
  font-weight: 100;
  font-size: 1em
}

input[type=radio]:checked + label{
  color: white;
  background: #4d5061;
}

label + input[type=radio] + label {
  border-left: solid 0.2em #4d5061;
}
