<div class="move">
    <a class="player">{{ player.name }} </a>
    <form [formGroup]="form" (input)="handleMove()">
    <div formGroupName="Dart1" class="dart">
      <input appInputHelper formControlName="points" class="points" type="text"/>
      <div class="radio-group">
        <div *ngFor="let zone of zones">
        <input formControlName="zone" type="radio" class="zone" [value]="zone.value">
        <label (click)="onChange('Dart1', zone.value)">{{ zone.name }}</label>
        </div>
      </div>
    </div>
    <div formGroupName="Dart2" class="dart">
      <input appInputHelper formControlName="points" class="points" type="text"/>
      <div class="radio-group">
        <div *ngFor="let zone of zones">
          <input formControlName="zone" type="radio" class="zone" [value]="zone.value">
          <label (click)="onChange('Dart2', zone.value)">{{ zone.name }}</label>
        </div>
      </div>
    </div>
    <div formGroupName="Dart3" class="dart">
      <input appInputHelper formControlName="points" class="points" type="text"/>
      <div class="radio-group">
        <div *ngFor="let zone of zones">
          <input formControlName="zone" type="radio" class="zone" [value]="zone.value">
          <label (click)="onChange('Dart3', zone.value)">{{ zone.name }}</label>
        </div>
      </div>
    </div>
  </form>
</div>

