.add-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 40vw;
  height: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

app-add-player-form {
  width: 50%;
}

.title {
  margin: 50px 0;
}

@media screen and (max-width: 499px) {
  .add-user {
    max-width: 80vw;
  }
  app-add-player-form {
    width: 80%;
  }
}
