<form [formGroup]="form" (ngSubmit)="onSubmit()" class='add-player-form'>
  <label for="nickname">{{ 'NEWPLAYER.NICKNAME'| translate }}</label>
  <input
    autofocus
    type="text"
    formControlName="nickname"
    class="form-input"
  />
  <label for="email">{{ 'NEWPLAYER.EMAIL'| translate }}</label>
  <input
    type="text"
    formControlName="email"
    class="form-input"
  />
  <button [disabled]="!form.valid" class='add-btn'>{{ 'NEWPLAYER.ADD'| translate }}</button>
</form>
