.add-player-form {
  display: flex;
  flex-direction: column;
}

.form-input {
  font-size: 15px;
  padding: 5px;
  margin: 5px 0;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.add-btn {
  height: 40px;
  margin-top: 50px;
  border: none;
  border-radius: 5px;
  color: dimgray;
  font-size: 1.2em;
  background-color: yellow;
  transition: 0.2s ease-out transform;
}

.add-btn:disabled, .add-btn:disabled:hover {
  background-color: grey;
  transform: none;
}

.add-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
