<div>
  <div [formGroup]="form" class="form">
    <div class="left-controls">
      <label>Name</label>
      <input type="text" formControlName="name" class="control"/>
      <label>Date</label>
      <input type="date" formControlName="date" class="control"/>
      <label>Sum</label>
      <input type="text" formControlName="sum" class="control" appCurr/>
    </div>
    <div class="right-controls">
      <label>Identity number</label>
      <input type="text" formControlName="identityNumber" class="control"/>
      <div *ngIf="errors && form.get('identityNumber').touched">
        <p *ngFor="let error of errors" class="error">{{ error }}</p>
      </div>
      <label>Number</label>
      <input type="text" formControlName="passwordNumber" class="control"/>
      <label>Country</label>
      <select formControlName="country" class="control">
        <option [selected]="true" value="BLR">BLR</option>
        <option value="GB">GB</option>
        <option value="USA">USA</option>
        <option value="UA">UA</option>
      </select>
    </div>
  </div>
</div>

<button (click)="onClick()">
  Button
</button>
