.form {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.left-controls {
  display: flex;
  flex-direction: column;
}

.right-controls {
  display: flex;
  flex-direction: column;
}

.control {
  margin: 5px;
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 3px 0;
  box-sizing: border-box;
}

input[type=text] {
  padding: 0 5px;
}

label {
  margin: 5px;
}

.error {
  font-size: 13px;
  margin: 5px;
  color: red;
}
