<div class="dashboard">
  <app-logo></app-logo>
  <div>
    <div class="content">
      <h3>{{ 'DASHBOARD.PLAYERSELECT' | translate }}</h3>
      <div class="controls">
        <input type="text" class="search" placeholder="{{ 'DASHBOARD.SEARCH' | translate }}"/>
        <button class="add-player-btn" (click)="onNewPlayer()">{{ 'DASHBOARD.NEWPLAYER' | translate }}</button>
      </div>
      <app-players-list></app-players-list>
      <h3>{{ 'DASHBOARD.CHOOSEGAME' | translate }}</h3>
      <div class="game-modes">
        <div class="game-mode" #gameMode (click)="onSelectGame($event, 'game501')">501</div>
      </div>
      <button class="start-btn" (click)="onStartGame()">{{ 'DASHBOARD.START' | translate }}</button>
      <div *ngIf="errors">
        <p class="validation-error" *ngFor="let err of errors"> {{ err | translate }} </p>
      </div>
      <button class="start-btn" *ngIf="!isLogin" (click)="onLogin()">{{ 'DASHBOARD.LOGIN' | translate }}</button>
      <button class="start-btn" *ngIf="isLogin" (click)="onLogout()">{{ 'DASHBOARD.LOGOUT' | translate }}</button>
    </div>
  </div>
</div>
