.dashboard {
  display: flex;
  flex-direction: column;
}

app-logo {
  display: flex;
  margin: 20px;
  justify-content: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.content h3 {
  width: 100%;
  text-align: left;
  color: white;
}

app-players-list {
  width: 100%;
}

.controls {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.controls .search,.controls .add-player-btn {
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  width: 50%;
  height: 40px;
  transition: 0.2s ease-out transform;
}

.add-player-btn:hover {
  transform: scale(1.03);
}

.controls .search {
  margin: 5px 5px 5px 0;
  padding-left: 10px;
  font-size: 15px;
}

.controls .add-player-btn {
  margin: 5px 0 5px 5px;
  padding: 0;
  font-size: 1.2em;
  background-color: yellow;
}

.game-modes {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.game-mode {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  transition: 0.2s ease-out transform;
  font-weight: bold;
  font-size: 2em;
  color: grey;
}

.start-btn {
  margin-top: 20px;
  width: 100%;
  border: 0;
  background-color: limegreen;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  transition: 0.2s ease-out transform;
}

.game-mode:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.start-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.selected-game {
  background-color: darkslategray;
}

.validation-error {
  animation-duration: 1s;
  animation-name: anim;
  transition: 0.2s ease-out;
}

@media screen and (max-width: 499px) {
  app-logo {
    justify-content: center;
  }
}

@media screen and (max-width: 649px) {
  .content {
    width: 95%;
  }

  app-logo {
    width: auto;
  }
}

@keyframes anim {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
