.player-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.player-list-item {
  background-color: white;
  margin: 1px 0;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.player-list-item:last-child {
  border-radius: 0 0 5px 5px;
}

.player-list-item:first-child {
  border-radius: 5px 5px 0 0;
}

.close{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  border: 4px solid #e62f57;
  border-radius: 50%;
}

.delete-btn {
  background: grey;
  height: 3px;
  width: 20px;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  transform: rotate(45deg);
}

.delete-btn:after {
  content: "";
  height: 20px;
  width: 3px;
  background: grey;
  position: absolute;
  left: 8px;
  top: -8px;
}

.delete-btn:hover {
  cursor: pointer;
}
