<div class="player-list">
  <div class="player-list-item" *ngFor="let player of players; let i = index;">
    <p> {{ player.name }} </p>
    <p> {{ player.email }} </p>
    <button (click)="onDeletePlayer(i)" class="delete-btn"></button>
  </div>
</div>
